@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.conteiner {
    max-width: 375px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    margin: 0 1rem;
}

.foto {
    width: 100%;
    border-radius: 15px;
}

.text {
    padding: 20px;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}

.text p {
    color: hsl(211, 12%, 44%);
}